@model IEnumerable<PetShop.Models.User>

@{
    ViewData["Title"] = "Quản lý Người dùng";
}

<h1 class="mt-4">@ViewData["Title"]</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active">Danh sách Người dùng</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Tất cả tài khoản
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Họ và tên</th>
                    <th>Email</th>
                    <th>Vai trò</th>
                    <th>Ngày đăng ký</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FullName</td>
                        <td>@item.Email</td>
                        <td>@item.Role.RoleName</td>
                        <td>@item.DateRegistered.ToString("dd/MM/yyyy")</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-info btn-sm">Xem chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>